<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo para CARO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Waaaaa</h1>
    <script src="/js/bundle.js"></script>
  </body>
</html>
